<!DOCTYPE html>
<html ng-app="tasteAngulajs">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.2/moment.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="style.css">
</head>
<body class="container" ng-controller="tasteController">

  <header>
    <nav>
      <div class="inner">
        <img src="../assets/twitter_logo_blue.png" height="20" />
      </div>
    </nav>
  </header>

  <div timeline class="content">
    <tweet-box></tweet-box>
    <tweet-container>
      <tweet data="tweet" remove='removeTweet($index)' ng-repeat="tweet in listTweets"></tweet>
    </tweet-container>
  </div>

  <footer>
    Directives
    <code>ng-class</code> <code>ng-if</code> <code>ng-repeat</code> <code>ng-repeat</code> <br />
    Custom directive confgs
    <code>restrict</code> <code>template</code> <code>link</code> <code>scope</code>
    <code>transclude</code> <code>replace</code> <code>controller</code>
  </footer>

  <script>
    angular.module('tasteAngulajs', [
      'tasteAngulajs.filters',
      'tasteAngulajs.api',
      'tasteAngulajs.timeline',
      'tasteAngulajs.controllers'
    ])

    angular.module('tasteAngulajs.filters', [])
    .filter('fromNow', function(){
      return function(value){
        /*
        moment is a js library related to time
        http://momentjs.com/
        converts timestamp to 11 hours
        */
        return moment(value).fromNow();
        // return value + ' Today';
      }
    })
    // .filter('fromNowTo', function(){
    //   return function(value){
    //     return value + ' To';
    //   }
    // })

    angular.module('tasteAngulajs.api', [])
    //factory method
    .factory('timelineAPI', function(){
      var listTweets = [
        { 'username': 'pmatta', 'text': 'Ciao', 'timestamp': 1410474730056 },
        { 'username': 'pmatta', 'text': 'Ciao due', 'timestamp': 1410474617870 }
      ];
      return {
        'get': function(){
          return listTweets;
        },
        'create': function(text){
          var tweet = {
            'username': 'pmatta',
            'text': text,
            'timestamp': Date.now()
          };
          listTweets.splice(0,0,tweet);
        }
      }
    })


    angular.module('tasteAngulajs.timeline', [])
    .directive('timeline',function(timelineAPI){
      return{
        restrict: 'A',
        scope: true,
        link: function(scope, element, attribute){
          scope.listTweets = [];
          scope.listTweets = timelineAPI.get();
        }
      }
    })
    .directive('tweetBox', function(timelineAPI){
      return{
        restrict:'E',
        scope: true,
        //injecting some other api into this
        require: '^timeline',
        template: ' <div class="timeline-tweet-box">'+
      ' <div class="home-tweet-box">'+
       '  <img src="https://birdhouse.twitter.biz/people/photos/thumb/pmatta-thumb.jpg" alt="">'+
        ' <div ng-if="!isOpenBox" ng-click="openBox()">'+
          ' <input class="form-control" placeholder="{{ placeholder.insertTweet }}" />'+
        ' </div>'+
        ' <div ng-if="isOpenBox">'+
          ' <textarea ng-model="tweet.text" class="form-control" rows="3"></textarea>'+
          ' <button type="button" class="btn btn-info btn-sm" ng-click="writeTweet()">Tweet</button>'+
        ' </div>'+
      ' </div> '+
    ' </div>',
      link: function(scope, element, attribute, timeline){
        console.log(scope)  //scope
        console.log(element) //element
        console.log(attribute); //attribute
        scope.isOpenBox = false;
        scope.tweet = {};

        scope.openBox = function(){
          scope.isOpenBox = true;
        }
        scope.writeTweet = function(){
          timelineAPI.create(scope.tweet.text);
          scope.isOpenBox = false;
          timeline.getTimeline();
        }
      }

      }
    })
    .directive('tweetsContainer', function(){
      return{
        restrict: 'E',
        scope: true,
        replace: true,
        template: '<div class="list-group timeline" ng-transclude></div>',
        transclude: true
      }
    })
    .directive('tweet',function(){
      return{
        restrict: 'E',
        //isolate scope
        scope: {
          'data': '=',
          'removeTweet': '&remove'
        },
        template: '<div class="tweet">' +
        '<div class="tweet-content">'+
         ' <img src="https://birdhouse.twitter.biz/people/photos/thumb/{{ data.username }}-thumb.jpg" alt="">'+
         ' <div class="header">'+
          ' {{ data.username }}'+
           '<i class="time">{{ data.timestamp | fromNow }}</i> '+
          '</div> <p> '+
            '{{ data.text }}' +
            '<button type="button" class="btn btn-default btn-xs"> '+
             ' <span class="fa fa-remove" ng-click="removeTweet($index)"></span>'+
           ' </button>'+
         ' </p> </div>'+
      '</div>'
      }
    })

    angular.module('tasteAngulajs.controllers', [])
    .controller('tasteController', function($scope) {
      $scope.removeTweet = function(index){
        console.log(index);
      }
    });
  </script>
</body>
</html>